html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;

    overflow: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select : none;
}

#bg {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;

    overflow: hidden;

    background-size: 100% 100%;
}

#bg .bg-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    
    width: 5000px;
    height: 5000px;

    background-image: url(../imgs/diamond.jpg);
}

#bg #bg-0 {
    background-image: url(../imgs/diamond.jpg);
}

#main {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

#header {
    width: 100%;
    height: 55px;
    position: absolute;
    top: 0px;
    z-index: 100;
    background-image: url(../imgs/header-bg.png);
}

#header h1 {
    color: rgb(209, 226, 249);
    font-size: 24px;
    position: absolute;
    top: 0px;
    left: 30px;
    padding: 0px;
    line-height: 40px;

    font-family: "微软雅黑";
}

#legends {
    position: absolute;
    top: 70px;
    left: 20px;
    
    width: 100px;

    padding: 10px;
    border-radius: 5px;
    background-color: rgb(3, 29, 76);
    background-color: rgba(3, 29, 76, 0.5);

    z-index: 10;
}

#legends .item {
    height: 20px;
    margin: 3px 2px;
    width: auto;
    line-height: 15px;

    font-family: "微软雅黑";
}
#legends .item label {
    cursor: default;
    font-size: 12px;
    margin-bottom: 0px;
}
#legends .item .color {
    width: 15px;
    height: 12px;
    border-radius: 5px;
    float: left;
    margin-top: 4px;
}
#legends .item label.name {
    color: white;
    float: left;
    margin-left: 7px;
}

.footer {
    position: absolute;
    left: 0;
    right: 0px;
    bottom: -100px;
    height: 110px;

    z-index: 100;
    background-image: url(../imgs/footer-bg.png);
    background-repeat: repeat;

    -webkit-transition: bottom 0.5s ease-in-out;
    -moz-transition: bottom 0.5s ease-in-out;
    transition: bottom 0.5s ease-in-out;
}

.footer.active {
    bottom: -5px;
}

.footer .search {
    width: 300px;
    left: 30px;
    position: absolute;

    font-family: "微软雅黑";
}

.footer .search input {
    height: 30px;
    line-height: 30px;
    width: 150px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    float: left;

    background-color: #d8eef7;
}

.footer .toggle-btn {
    width: 152px;
    height: 34px;
    position: absolute;
    right: 50px;
    top: -33px;
    color: white;
    font-family: "微软雅黑";

    background-image: url(../imgs/toggle-button.png);

    text-align: center;
    font-size: 18px;
    line-height: 34px;

    cursor: pointer;
}

#search-btn {
    width: 40px;
    height: 30px;

    border-radius: 0px 5px 5px 0px;
    background-color: #0a6ec5;
    float: left;

    background-image: url(../imgs/search.png);
    background-repeat: no-repeat;
    background-position: 10px 5px;
}

#search-btn:hover {
    /*background-color: #0c51b0;*/
}

#img-scroll-list {
    position: absolute;
    left: 300px;
    right: 20px;
}

.footer h3 {
    font-size: 16px;
    color: white;
    margin: 5px 10px;
    padding: 0px;
    line-height: 30px;
}

.elastislide-carousel ul li {
    width: 90px;
    height: 90px;

    border-radius: 5px;
    overflow: hidden;
}
#img-scroll-list .elastislide-carousel {
    height: 90px;
}

#img-scroll-list .elastislide-wrapper {
    background-color: transparent;
}

#img-scroll-list .elastislide-next {
    background-color: transparent;
    background-image: url(../imgs/next.png);
}

#img-scroll-list .elastislide-next:hover {
    background-image: url(../imgs/next-hover.png);
}

#img-scroll-list .elastislide-prev {
    background-color: transparent;
    background-image: url(../imgs/prev.png);
}

#img-scroll-list .elastislide-prev:hover {
    background-image: url(../imgs/prev-hover.png);
}

#img-scroll-list li .title {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 25px;
    bottom: -25px;

    background-color: black;
    color: white;
    line-height: 25px;
    text-align: center;
    font-size: 14px;

    opacity: 0.7;

    z-index: 1;
    font-family: "微软雅黑";

    -webkit-transition: bottom 0.3s ease-out;
    -moz-transition: bottom 0.3s ease-out;
    transition: bottom 0.3s ease-out;
}

#img-scroll-list li:hover .title {
    bottom: 0px;
}

#control {
    z-index: 10;
    position: absolute;
    top: 70px;
    right: 20px;

    width: 102px;
}

#control .move-cover {
    right: 0px;
    bottom: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    cursor: pointer;
}

#control .move {
    width: 102px;
    height: 102px;
    position: relative;
    background-image: url(../imgs/move-bg.png);
    background-repeat: no-repeat;
}

#control .move>div {
    opacity: 0;
    cursor: pointer;
    background-repeat: no-repeat;
}
#control .move>div.active {
    opacity: 1.0;
}

#arrow-left {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -37px;
    height: 74px;
    width: 53px;
    background-image: url(../imgs/move-left.png);
}

#arrow-right {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -37px;
    height: 74px;
    width: 53px;
    background-image: url(../imgs/move-right.png);
}

#arrow-up {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -37px;
    height: 53px;
    width: 74px;
    background-image: url(../imgs/move-up.png);
}

#arrow-down {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -37px;
    height: 53px;
    width: 74px;
    background-image: url(../imgs/move-down.png);
}

#zoom-in {
    background-image: url(../imgs/zoom-in.png);
    width: 30px;
    height: 30px;

    top: 120px;
    left: 0px;
    position: absolute;
    cursor: pointer;
}
#zoom-in:hover {
    background-image: url(../imgs/zoom-in-hover.png);
}

#zoom-out {
    background-image: url(../imgs/zoom-out.png);
    width: 30px;
    height: 30px;

    top: 120px;
    right: 0px;
    position: absolute;
    cursor: pointer;
}
#zoom-out:hover {
    background-image: url(../imgs/zoom-out-hover.png);
}

#logo {
    width: 128px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 5px;
    background-image: url(../imgs/logo-kg.png);
}

#modalDialog_kg_iceb {
    background: transparent;
    overflow: hidden;
    font-family: "微软雅黑";
}

#modalDialog_kg_iceb .modal-background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    opacity: 0.8;
}

#modalDialog_kg_iceb h1 {
    font-weight: normal;
}

#dialog_more {
    color: #77F4FF;
}

